
/*
** Color Variables
*/
$font-color: #1D2D33;
$primary-blue: rgb(63, 97, 108);
$primary-red: rgb(238, 101, 82);
$primary-yellow: rgb(241, 199, 107);
$primary-beige: #FBF6EB;
$primary-white: #fff;
$primary-green: rgb(179, 194, 137);

$light-blue: lighten($primary-blue, 30%);
$dark-blue: darken($primary-blue, 15%);
$font-white: #fff;
$font-black: rgb(0,0,20);
$font-blue-grey: rgb(50,50,70);
$font-red: rgb(191,82,70);

/*
** Font Variables
*/
$primary-font-family: "Roboto", helvetica, arial, sans-serif;
$secondary-font-family: "Roboto", sans-serif;
$accent-font-family: "Monoton", helvetica, arial, sans-serif;

/*
** Sizing and Layout Variables
*/
$nav-height: 80px;
$nav-color: transparentize($primary-blue,0.2);
