
/*
** Color Variables
*/
$primary-blue: rgb(63, 97, 108);
$primary-red: rgb(238, 101, 82);
$primary-yellow: rgb(241, 199, 107);
$primary-white: rgb(251, 246, 235);
$primary-green: rgb(179, 194, 137);

$light-blue: lighten($primary-blue, 30%);
$dark-blue: darken($primary-blue, 15%);
$font-white: rgb(250,250,255);
$font-black: rgb(0,0,20);
$font-blue-grey: rgb(50,50,70);
$font-red: rgb(191,82,70);

/*
** Font Variables
*/
$primary-font-family: "Roboto Slab", serif;
$secondary-font-family: "Roboto", sans-serif;

/*
** Sizing and Layout Variables
*/
$nav-height: 80px;
$nav-color: transparentize($primary-blue,0.2);
